<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
<dict>
	<key>angle</key>
	<real>89</real>
	<key>angleVariance</key>
	<real>37</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>0.72</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>1</real>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>1</real>
	<key>finishColorVarianceBlue</key>
	<real>1</real>
	<key>finishColorVarianceGreen</key>
	<real>1</real>
	<key>finishColorVarianceRed</key>
	<real>1</real>
	<key>finishParticleSize</key>
	<real>22</real>
	<key>finishParticleSizeVariance</key>
	<real>20</real>
	<key>gravityx</key>
	<real>0</real>
	<key>gravityy</key>
	<real>-820</real>
	<key>maxParticles</key>
	<real>601</real>
	<key>maxRadius</key>
	<real>0</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<real>2.08</real>
	<key>particleLifespanVariance</key>
	<real>6.4</real>
	<key>radialAccelVariance</key>
	<real>0</real>
	<key>radialAcceleration</key>
	<real>-58</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>-1184</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>-1330</real>
	<key>rotationStartVariance</key>
	<real>85</real>
	<key>sourcePositionVariancex</key>
	<real>240</real>
	<key>sourcePositionVariancey</key>
	<real>195</real>
	<key>sourcePositionx</key>
	<real>349.6524216524216</real>
	<key>sourcePositiony</key>
	<real>895.034188034188</real>
	<key>speed</key>
	<real>560</real>
	<key>speedVariance</key>
	<real>0</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>1</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>1</real>
	<key>startColorVarianceBlue</key>
	<real>1</real>
	<key>startColorVarianceGreen</key>
	<real>1</real>
	<key>startColorVarianceRed</key>
	<real>1</real>
	<key>startParticleSize</key>
	<real>25</real>
	<key>startParticleSizeVariance</key>
	<real>17</real>
	<key>tangentialAccelVariance</key>
	<real>0</real>
	<key>tangentialAcceleration</key>
	<real>7</real>
	<key>textureFileName</key>
	<string>particle_texture.png</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAA31TTUwTQRTeQiAFBVEEfxJxsiREDO12W7qlm1Yo3SI1lDSlkRJjYLs7bTewO+vuYAuSGLkIejBqYrhy8i8ajiYk2gRjwo3Eg4lHThxMsHdNnS0UjUmZTGbee/m+N2/efLMaH7/e0nyxmaKoluiokCB7k2XbG8l6jxKs7QKOpPAEyuC8aEAqJKM0BFFVzMIEFOWFO9swQFH1tJJM4VRsjJeQ6hQtjLOg6pQ1AoMFXZRmIQZpmFW0IL2/+YkGihykJ70xV0wPw5wyumjAicXxpLQ4K/llevAaCBR4kkCFWAQFdU4z+UKQruTliW2FGRpUIHg2SB8UlYrFQRgZEHidHofkYlnAcU6238txbB9wu1g34yKTc7D9vJfj3T5wOGhymiFn+IQwcngW8YJ0DmOdZ5h8Pu/Me5zIyDKs3++3crjdDoJwmAsaFgsOzeyuZhCgKRmKjhWkAcsX02geB2m6egVVP0qrmYdtIg1jCqLOsE4X8w8wFjseqqpHaBMnYOZ4tJlc0CGTgCaaNyTycJlui6zzYQOKGBlJhOaqXYznEEZmDukgPMGBK5OKJqO82VvBx2J8VDOxqEkwKgRpEnEqisxHWIENDfsGPII7zLKRgVC/1zXs8XEePxsZYUO+KldA0rwKNVzlyn+5/ppcSwoHbGgod6E8YiAVVK7MK7Vr4WrXcsCVa9fiq8llSDHMfw9dDRH1WOaRbIlzJHyoEbUbRNYvdt+ukS/xLCqEkoXv6V/l8mB9Z7HpM1i9DFrbOxs+Di1dWnlZjAz12NhTbZt1padl+89zK++KnG21N26bm+keO21HxfU9X9uJrbOvhxo2Hsysbe1TpaXGH0V75oz9cV0p29fjGGld/jYUaL+1tv7wK933aGCn47Ztd3rvzU7H7/rd/Vy6PLVx/n7XyhNbKfNqe5qqO0l9mfpw42bX1efWj41GxoX3wzPLfwBNRM1DHgQAAA==</string>
</dict>
</plist>
